<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ephetienne_acceuil</title>
</head>
<body>
<h1 style="color: blueviolet">Bienvenue sur le site Ephetienne Rhode-Saint-Genèse</h1>
    <center> <img src="img/logo.PNG"> </center>

    <p>paragraphe test</p>

    <a href="http://127.0.0.1:8000/menu/insertEvent/"> <input type="button" value="ajouter un événement"> </a>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/menu/inscription/"> <input type="button" value="inscription"> </a>


</body>
</html>