<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ephetienne_acceuil</title>
</head>
<body>
<h1 style="color: blueviolet">Bienvenue sur le site Ephetienne Rhode-Saint-Genèse</h1>


    <p>paragraphe test</p>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/menu/inscription/"> <input type="button" value="inscription"> </a>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/menu/contact/"> <input type="button" value="contact"> </a>
    <br>
    <br>
    <a href="http://127.0.0.1:8000/menu/affEvent/"> <input type="button" value="Voir les événements"> </a>

    <p> espace admin </p>

    <form action="{% url "admin" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" id="submit" value="Espace admin" >
    </form>


</body>
</html>