<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page inscription</title>
</head>
<body>
    {% if envoi %}
        Votre inscription a bien été enregistrer!


    {% endif %}
    <h1>Bienvenue sur la page d'inscription</h1>
    <p>Vous trouverz ci dessous le formulaire pour l'inscription</p>
<form action="{% url "inscription" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" id="submit" value="Submit" />
</form>
    <a href="http://127.0.0.1:8000/menu/acceuil/"> <input type="button" value="retour acceuil"> </a>
</body>
</html>